@model ABCBankingApplication.Models.ViewModels.PasswordViewModel
<div class="row">
    <div class="col-md-12">
        <div id="alertMsg" class="alert alert-danger alert-dismissible" style="display: none;">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Failed!</strong> Passwords do not match. Please try again.
        </div>
        <div id="alertSuccessMsg" class="alert alert-success alert-dismissible" style="display: none;">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Success!</strong> Passwords do not match. Please try again.
        </div>
        <section id="loginForm">
            @using (Html.BeginForm("ChangePassword", "AccountSettings", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                <h4>Change Your Password</h4>
                <hr />
                <div class="form-group">
                    @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
                    <div class="col-md-12">
                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", id = "newPw" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
                    <div class="col-md-12">
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", id = "newPw" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                    <div class="col-md-12">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", id = "confirm" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-12">
                        <input id="changePasswordBtn" type="submit" value="Submit" class="btn btn-primary" />
                    </div>
                </div>
            }
        </section>
    </div>
</div>
@section Scripts {
   <script>
       @*$("#changePasswordBtn").click(function () {
           var newPw = $("#newPw").val();
           var confirm = $('#confirm').val();

           var data = {
               newPw,
               confirm
           }

           if (newPw != confirm) {
               $("#alertMsg").css({ 'display': 'block' });
           } else {
               $.ajax({
                   type: "POST",
                   url: @Html.Action("ChangePassword", "AccountSettings"),
                   content: "application/json; charset=utf-8",
                   dataType: "json",
                   data: data,
                   success: function (d) {
                       if (d.success == true) {
                           $("#newPw").val() = "";
                           $('#confirm').val() = "";
                           $("#alertSuccessMsg").css({ "display": "block" });
                       }
                   }
               });
           }
       });*@
    </script>
}