@{
    ViewBag.Title = "BillsPage";
}

<br />
<br />
<h2>@ViewBag.CustomerName Bills</h2>
<hr />
<br />
<br />
@if (ViewBag.Paid == true && ViewBag.Paid != null)
{
    <div id="alertMsg" class="alert alert-danger alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Oops!</strong> You have already paid your bill!
    </div>
}
@if (ViewBag.OverPaid == true && ViewBag.OverPaid != null)
{
    <div id="alertMsg" class="alert alert-danger alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Failed!</strong> You have entered a payment greater than the amount owing. Please put in the correct amount and try again.
    </div>
}

@if (ViewBag.Success == true && ViewBag.Success != null)
{
    <div id="alertSuccessMsg" class="alert alert-success alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Success!</strong> Payment updated successfully, thank you for your business!
    </div>
}
<div class="container-fluid">
    <div class="row">
        @foreach (var m in ViewBag.Bills)
        {
            if (@m.BillType == 1)
            {
                <div class="col-md-6">
                    <h3>Utility Bill</h3>
                    <p>Balance Owing: $ @m.BalanceOwing</p>
                    @using (Html.BeginForm("PayBill", "Bill", new { billId = @m.BillId }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        <hr />
                        <div class="form-group">
                            @Html.Label("Enter Payment", new { @class = "col-md-2 control-label" })
                            <div class="col-md-12">
                                @Html.TextBox("Payment", "", new { @class = "form-control", required = "required" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-12">
                                <input type="submit" value="Submit Payment" class="btn btn-primary" />
                            </div>
                        </div>
                    }
                </div>
            }

            if (@m.BillType == 2)
            {
                <div class="col-md-6">
                    <h3>Hydro Bill</h3>
                    <p>Balance Owing: $ @m.BalanceOwing</p>
                    @using (Html.BeginForm("PayBill", "Bill", new { billId = @m.BillId }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        <hr />
                        <div class="form-group">
                            @Html.Label("Enter Payment", new { @class = "col-md-2 control-label" })
                            <div class="col-md-12">
                                @Html.TextBox("Payment", "", new { @class = "form-control", required = "required" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-12">
                                <input type="submit" value="Submit Payment" class="btn btn-primary" />
                            </div>
                        </div>
                    }
                </div>
            }
        }
    </div>
</div>
@section Scripts {
    <script>
        $("#alertMsg").fadeTo(2000, 500).slideUp(500, function () {
            $("#alertMsg").slideUp(5000);
        });
    </script>
}
